<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science Platform</title>
</head>
<body>
    <h1>Data Science Platform</h1>
    <form action="/processar-dados" method="post" enctype="multipart/form-data">
        <label for="arquivo">Selecione um arquivo CSV:</label>
        <input type="file" name="arquivo" id="arquivo" accept=".csv" required>
        <button type="submit">Processar Dados</button>
    </form>
</body>
</html>
